In [2]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0 and a<b:
        return a
    elif a<b:
        return b

In [3]:
lesser_of_two_evens(2,4)

2

In [4]:
lesser_of_two_evens(2,5)

5

In [ ]:
#Alternate way
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [9]:
def animal_crackers(text):
    wordlist=text.lower().split()
    
    return wordlist[0][0]==wordlist[1][0]

In [10]:
animal_crackers('Levelheaded Llama')

True

In [11]:
animal_crackers('Crazy Kangaroo')

False

In [12]:
animal_crackers('Crazy cat')

True

In [13]:
def makes_twenty(n1,n2):
    if n1+n2==20:
        return True
    elif n1==20 or n2==20:
        return True
    else:
        return False

In [14]:
makes_twenty(20,10)

True

In [15]:
makes_twenty(12,8)

True

In [16]:
makes_twenty(2,3)

False

In [ ]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [ ]:
makes_twenty(2,18)

In [ ]:
makes_twenty(20,10)

In [40]:
def old_macdonald(name):
    first_half=name[:3]
    second_half=name[3:]
    return first_half.capitalize() + second_half.capitalize()

In [41]:
old_macdonald('Macdonald')

'MacDonald'

In [54]:
def master_yoda(text):
    wordlist = text.split()
    reverse_wordlist = wordlist[::-1]
    return ' '.join (reverse_wordlist)

In [55]:
master_yoda('I am home')

'home am I'

In [56]:
master_yoda('We are ready')

'ready are We'

In [59]:
def almost_there(n):
    return (abs(100 - n)<=10) or (abs(200 - n)<=10)

In [60]:
almost_there(90)

True

In [61]:
almost_there(104)

True

In [62]:
almost_there(150)

False

In [66]:
almost_there(210)

True

In [70]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True
        
    return False

In [71]:
has_33([1, 3, 3])

True

In [72]:
has_33([1, 3, 1, 3])

False

In [73]:
has_33([3, 1, 3])

False

In [74]:
def paper_doll(text):
    result = ' '
    for char in text:
        result+=char*3
    return result

In [75]:
paper_doll('Hello')

' HHHeeellllllooo'

In [76]:
paper_doll('Mississippi')

' MMMiiissssssiiissssssiiippppppiii'

In [ ]:
#Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum.
#If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
#Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'Â¶

def blackjack(a,b,c):
    sum =a+b+c
    if sum<=21: 
        return sum
    
    elif a==11 or b==11 or c==11 and sum>21:
        return sum -10
    
    else:
        return "Bust"

In [ ]:
blackjack(5,6,7)

In [ ]:
blackjack(9,9,9)

In [ ]:
blackjack(9,9,3)

In [ ]:
blackjack(9,9,11)

In [ ]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [ ]:
summer_69([1, 3, 5])